@charset "UTF-8";

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 30px;
    gap: 5px;
}

.titulo {
    color: white;
}

.botao {
    display: flex;
    margin-left: auto;
    gap: 15px;
}

