@charset "UTF-8";

footer {
    background-color: var(--cor5);
    color: var(--cor3);
    margin: auto 0 0 0;
    padding: 7px;
    text-align: center;
}

.light_footer {
    background-color: var(--cor1);
    color: var(--cor5);
}

.github {
    text-decoration: none;
    color: var(--cor1);
}

    .git_dark {
        color: var(--cor3);
    }

    .github:hover {
        text-decoration: underline;
    }